@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
}

.alinhar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formato{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 40%;
    padding: 10px;
    text-align: center; 
    min-width: 700px;
    background-color: #000000;
    color: #fff;
}

.visor{
    width: 90%;
    min-height: 90px;
    border: solid 1px #ccc;
    margin: 30px auto 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
}

#conta{
    font-size: 40px;
    padding-left: 10px;
    border: none;
    background-color: #000;
    outline: none;
    color: #fff;
    overflow-x: scroll;
    width: 99%;
}

.df{
    display: flex;
}

.coluna{
    display: flex;
    flex-direction: column;
    width: 25% !important;
}

.divButton{
    padding: 20px;
    margin: 20px;
    font-size: 40px;
    text-align: center;
    border: 1px solid #ccc;
    width: 80%;
}

.botoesEspeciais, .botoes, .coluna{
    width: 100%;
}

.botoes{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
}
.divButtonMais{
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divButton:hover{
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 820px){

    body{
        width: 100%;
        height: 100%;
        background-color: #000;
    }
    .formato{
        width: 100%;
        min-width: 0;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        height: auto;
    }

    .visor{
        width: 90.5%;
        position: relative;
        left: .3%;
    }

    #conta{
        margin-left: 1%;
        width: 98%;
    }
}

@media (max-width: 600px){
    .divButton{
        font-size: 20px;
    }
    .visor{
        width: 91%;
        position: relative;
        left: 1.2%;
    }
}
@media screen and (max-width: 480px){
    .divButton{
        font-size: 16px;
    }
}

@media screen and (max-width: 360px){
    .visor{
        width: 91%;
        left: 4%;
    }
    .formato{
        left:46%;
        top: 48%;
    }
    .divButton{
        font-size: 13px;
    }
}